<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
    <script src="/static/semantic/semantic.min.js"></script>
    <title>Hello!</title>
</head>
<body>

<div class="ui menu">
    <div class="header item">Entry!</div>
</div>

<h1>This is our landing page.</h1>

<p>We're using Semantic UI for basic theming for now.</p>

<div class="ui container">
    <h1 class="ui header">Hello, world!</h1>
    <div class="ui segment">
        <p>This is a Semantic UI segment.</p>
        <button class="ui button">Click me</button>
    </div>
</div>

<p>This is a progress bar</p>
<div class="ui teal progress">
    <div class="bar">
        <div class="progress"></div>
    </div>
    <div class="label">Uploading Files</div>
</div>

</body>
</html>